
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      layout:decorate="layout/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            Login:
            <form th:action="@{/login}" method="post" th:object="${loginform}">
                <label><a th:inline="text">[[#{menu.LoginName}]]</a></label>
                <input type="text" th:field="*{login}" />
                <br />
                <label><a th:inline="text">[[#{menu.password}]]</a></label>
                <input th:type="password" th:field="*{password}" />
                <br />
                <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Price Error</div>
                <button th:type="submit" th:inline="text">[[#{menu.LoginButton}]]</button>
            </form>
        </div>
    </div>

</body>
</html>